{% extends "home/base.html" %}

{% block nav %}
    <script type="text/javascript" language="JavaScript">
        function update() {
            update_holder = $("#update-holder");
            most_recent = update_holder.find("div:first");
            $.getJSON("/evaluations/" + most_recent.attr('id') + "/",
                function (data) {
                    jQuery.each(data, function () {
                            update_holder.prepend('<div id="' + this.pk + '">'
                                + '<br/>' + this.fields.author
                                + '<br/>' + this.fields.opinion
                                + '<br/>' + this.fields.timestamp
                                + '<br/>' + this.fields.seans
                                + '</div>')
                        }
                    )
                });
        }
        $(document).ready(function () {
            setInterval("update()", 1000);
        })


        function clearContents(element) {
            element.value = '';
        }
        $(document).on('submit', '#evaluation_form', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '/evaluate',
                data: {
                    name: $('#name').val(),
                    opinion: $('#opinion').val(),
                    movie: $('#movie').val(),
                    mark: $('#mark').val(),
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                },
                success: function () {
                    window.alert("You successfully added a comment. Thank you!")
                }
            })
        })
    </script>
{% endblock %}

{% block content %}
    <div class="container" align="middle" padding="50px" style="font-size: 20px">
        <div class="page-header">
            <h2>Please take a second to leave us feedback.</h2>
        </div>

        <div style="text-align: center">
            <form id="evaluation_form">{% csrf_token %}
                <label for="name">Your name:</label>
                <input type="text" id="name"/>
                <br/>
                <br/>
                <label for="mark">How would you evaluate our cinema?</label>
                <select id="mark" name="mark" style="font-size: 15px">
                    <option value="6">&starf;&starf;&starf;&starf;&starf;&starf;</option>
                    <option value="5">&starf;&starf;&starf;&starf;&starf;</option>
                    <option value="4">&starf;&starf;&starf;&starf;</option>
                    <option value="3">&starf;&starf;&starf;</option>
                    <option value="2">&starf;&starf;</option>
                    <option value="1">&starf;</option>
                </select>

                <br/>
                <br/>
                <label for="movie">Which movie did you see in our cinema?</label>
                <br/>
                <select id="movie" name="movie">
                    {% for movie in movies %}
                        <option value="{{ movie }}">{{ movie }}</option>
                    {% endfor %}
                </select>
                <br/>
                <br/>
                <br/>
                <div style="text-align: center">
                <textarea id="opinion" name="opinion" cols="70" rows="7" onfocus="clearContents(this);"> What do you think about our cinema?
            </textarea>
                </div>
                <br/>
                <input type="Submit" class="btn btn-primary btn-lg  btn-huge" style="padding: 15px 30px;"
                       value="SUBMIT">
            </form>
        </div>
        <div style="text-align: center">
            <div class="page-header">
                <h2 style="text-decoration: underline;">All the comments:</h2>
                <br/>
                <div id="update-holder">
                    <br/>
                    {% for ev in evaluations %}
                        <div>{{ ev.author }} on {{ ev.timestamp }} wrote:<br/>
                            "{{ ev.opinion }}"<br/><br/></div>

                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}