<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <!--zoom level do 1 i szerokosc strony do szerokosci urzadzenia-->
    <title>Lekseek</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <script type="text/javascript" language="javascript" src="{% static 'personal/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src='{% static 'personal/js/jquery-3.2.1.min.js' %}'></script>
    <script type="text/javascript" language="javascript" src='{% static 'personal/js/clock.js' %}'></script>
    <script type="text/javascript" language="javascript" src='{% static 'personal/js/slider.js' %}'></script>
    <link rel="stylesheet" href="{% static 'personal/css/style.css' %}" type="text/css"/>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
    <script type="text/javascript" src="{% static 'personal/js/commentvue.js' %}"></script>
    {% block nav %}
    {% endblock %}
</head>

<body class="body" style="background-color:#f6f6f6" onload="odliczanie();zmienslajd();">
<div class="container-fluid" style="min-height:150%; margin-left: auto; margin-right: auto">
    <div class="row">
        <div class="col-sm-2 col-lg-2">
            <br>
            <center>
                <img src="{% static 'personal/img/profile.jpg' %}" class="img-circle" style='max-height:350px;'
                     alt="face">
            </center>
            <br>
            <br>
            <div id="clock" style="font-size: 20px; text-align: center"></div>
        </div>
        <div class="col-sm-10 col-lg-10">
            <br>
            <div class="container-fluid" align="middle">
                <div class="jumbotron"
                     style="text-align: center; border-radius: 350px; max-width: 900px; color: #DCDCDC; margin-right: 350px">
                    <span id="websiteTitle" style="font-size: 8em;
    vertical-align: middle;
    font-family: 'Pacifico', cursive;
    padding-left: 15px;
    color: #191970;
    background-color: transparent;"> LekSeek Cinema </span>
                    {#Czemu nie działa id?#}
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-2">
            <br>
            <br>
            <div class="well bs-sidebar" id="sidebar" style="background-color:#fff ;font-size: 20px">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href='/'>Main page</a></li>
                    {% if user.is_authenticated %}
                        <li><a href='/accounts/logout/'>Logout</a></li>
                    {% else %}
                        <li><a href='/accounts/'>Accounts</a></li>
                    {% endif %}
                    <li><a href='/movies/'>List of films with description</a></li>
                    <li><a href='/tickets'>Your tickets</a></li>
                    <li><a href='/ajax'>Leave an opinion (jQuery+AJAX)</a></li>
                    <li><a href='/vueopinion'>Leave an opinion (Vue.js)</a></li>
                    <li><a href='/thegame'>The Game(jQuery)</a></li>
                    <li><a href='/contact'>Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10" style="bottom:90px; ">
            <div class='container-fluid' style="margin-right: 380px">
                <br/><br/><br/><br/><br/>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<footer style="width: 100%;
    background-color: #DCDCDC;
    padding: 10px 0px;
    text-align: center;
    border-radius: 350px;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: 30px;">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-rss"></a>
</footer>
</body>


</html>