<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <!--zoom level do 1 i szerokosc strony do szerokosci urzadzenia-->
    <title>Lekseek</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'personal/css/style.css' %}" type="text/css"/>
    <script type="text/javascript" language="javascript" src='{% static 'personal/js/jquery-3.2.1.min.js' %}'></script>
    <script type="text/javascript" language="javascript" src='{% static 'personal/js/clock.js' %}'></script>
    <script type="text/javascript" language="javascript" src='{% static 'personal/js/slider.js' %}'></script>
    <script type="text/javascript" language="javascript" src='{% static 'personal/js/vue.js' %}'></script>
    <script src="https://unpkg.com/vue"></script>
    {% block nav %}
    {% endblock %}
</head>

<body class="body" style="background-color:#f6f6f6" onload="odliczanie();zmienslajd();">
<div class="container-fluid" style="min-height:150%; margin-left: auto; margin-right: auto">
    <div class="row">
        <div class="col-sm-2 col-lg-2">
            <br>
            <center>
                <img src="{% static 'personal/img/profile.jpg' %}" class="img-circle" style='max-height:300px;'
                     alt="face">
            </center>
            <br>
            <br>
            <div id="clock" style="font-size: 20px; text-align: center"></div>
        </div>
        <div class="col-sm-10 col-lg-10">
            <br>
            <div class="container-fluid" align="middle">
                <div class="jumbotron"
                     style="text-align: center; border-radius: 350px; max-width: 900px; color: #DCDCDC;">
                    <span id="websiteTitle"> LekSeek Cinema </span>
                </div>
            </div>

        </div>

    </div>
    <hr>

    <div class="row">
        <div class="col-sm-2">
            <br>
            <br>
            <div class="well bs-sidebar" id="sidebar" style="background-color:#fff ;font-size: 20px">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href='/'>Main page</a></li>
                    {% if user.is_authenticated %}
                        <li><a href='/accounts/logout/'>Logout</a></li>
                    {% else %}
                        <li><a href='/accounts/'>Accounts</a></li>
                    {% endif %}
                    <li><a href='/movies/'>List of films with description</a></li>
                    <li><a href='/tickets'>Your tickets</a></li>
                    <li><a href='/ajax'>Leave an opinion (AJAX)</a></li>
                    <li><a href='/vueopinion'>Leave an opinion (Vue.js)</a></li>
                    <li><a href='/thegame'>The Game(jQuery)</a></li>
                    <li><a href='/contact'>Contact</a></li>

            </div>
        </div>
        <div class="col-sm-10" style="bottom:50px; margin-right: auto; margin-left: auto;">
            <div class='container-fluid'>
                <br><br>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<footer>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-rss"></a>
</footer>
<script src="{% static 'personal/js/bootstrap.min.js' %}"></script>
<!-- Vue.JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
<script type="text/javascript" src="{% static 'personal/js/commentvue.js' %}"></script>
</body>


</html>