{% extends "home/base.html" %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Contact:</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="btn btn-primary btn-lg  btn-huge"> Email: </h4>
                <h4> lekseekcinema@somenet.com</h4>
                <br>
                <br>
                <h4 class="btn btn-primary btn-lg  btn-huge"> Telephone number: </h4>
                <h4> +23 123 456 789</h4>
                <br>
                <br>
                <h4 class="btn btn-primary btn-lg  btn-huge"> Adress: </h4>
                <h4> Lekseek Street 23, Warsaw</h4>
                <br>
                <br>
            </div>
            <div class="col-md-6">
                <table class="table table-striped table-hover text-center">
                    <tbody>
                    <tr>
                        <th class="col-md-2">
                        <th class="text-center">Opened:
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>8:00 - 16:00</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>8:00 - 16:00</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>8:00 - 16:00</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>8:00 - 14:00</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>8:00 - 14:00</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>CLOSED</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>CLOSED</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
