{% extends "home/base.html" %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Contact:</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Email: lekseekcinema@somenet.com</h4>
                <br>
                <br>
                <h4>Telephone number: +23 123 456 789</h4><br>
                <br>
                <h4>Adress: Lekseek Street 23, Warsaw</h4>
                <br>
                <br>
            </div>
            <div class="col-md-6">
                <table class="table table-striped table-hover text-center" >
                    <tbody>
                    <tr>

                        <!-- You can adjust the width of table columns as well -->
                        <th class="col-md-2">
                        </td>

                        <!-- Use text alignment like text-center or text-right -->
                        <th class="text-center">Opened:
                        </td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>8:00 - 16:00</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>8:00 - 16:00</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>8:00 - 16:00</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>8:00 - 14:00</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>8:00 - 14:00</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>CLOSED</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>CLOSED</td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>

    </div>

    </p>
    </div>
{% endblock %}
