{%  extends 'home/base.html' %}

{%  block nav %}

    <script type="text/javascript" language="JavaScript">
    window.alert("Please fill in the registration form according to the instructions.")
    </script>

{% endblock %}



{%  block content %}
    <div style="font-size: 20px">
<form action="/accounts/register/" method="post">
{% csrf_token %}
    <br/>
    <br/>
    <br/>
    <br/>
{{ forms }}
    <br>
    <div style="text-align: center">
<input type="submit" class="btn btn-primary btn-lg  btn-huge " style="padding: 15px 30px;" value="Register"/>
    </div>
</form>
    </div>

{%  endblock %}