{% extends "home/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="page-header" align="middle">
                <h2>Your reservations:</h2>
                {% for ticket in tickets %}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="thumbnail" style="height: 210px">
                            <div class="caption" align="middle">
                                <div><h3 style="height: 80px">{{ ticket.screening.movie }}</h3></div>
                                <h4>{{ ticket.screening.get_view_day_display }}
                                    - {{ ticket.screening.get_view_hour_display }} </h4>
                                <h5> Room number: {{ ticket.screening.room_nr }}</h5>
                                <form action="/tickets/cancel" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="ticket_id" value="{{ ticket.id }}" hidden>
                                    <h5> Cancel <input type="submit" class="btn-danger" value="&#10007;"></h5>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="page-header" align="middle">
                <h2>In order to buy tickets or to see your booked tickets <br> you have to <a
                        href="/accounts/">login</a> first.</h2>
            </div>
        </div>
    {% endif %}
{% endblock %}