{% extends "home/base.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="container">
            <div class="page-header" align="middle">
                <h2>Your reservations:</h2>

                {% for ticket in tickets %}
                    {{ ticket.screening }}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="thumbnail">
                            <img src="{{ movie.poster_url }}" alt="" style="width: 350px">
                            <div class="caption" align="middle">

                                <h6>{{ ticket.screening.movie }}</h6>
                                <h4>{{ ticket.screening.get_view_day_display }} </h4>
                                <h4>{{ ticket.screening.get_view_hour_display }}</h4>
                            </div>
                        </div>
                    </div>
                    </div>

                {% endfor %}
        </div>
        </div>
    {% else %}
        <div class="container">
            <div class="page-header" align="middle">
                <h2>In order to buy tickets or to see your booked tickets <br> you have to <a
                        href="/accounts/">login</a> first.</h2>
            </div>
        </div>
    {% endif %}
{% endblock %}