html,
body {
    height: 100%;

#websiteTitle {
    font-size: 8em;
    vertical-align: middle;
    font-family: 'Pacifico', cursive;
    padding-left: 15px;
    color: #191970;
    background-color: transparent;
}

footer {
    width: 100%;
    background-color: #DCDCDC;
    padding: 10px 0px;
    text-align: center;
    border-radius: 350px;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: 30px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

#pojemnik {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#plansza {
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}

#szubienica {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

#alfabet {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

.litera {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}

.litera:hover {
    background-color: #222222;
    color: white;
    border: 3px solid white;
}

.reset {
    color: black;
    cursor: pointer;
    font-size: 48px;
}

.reset:hover {
    color: dodgerblue;
}
